In [44]:
import plotly.express as px
from data import countries_df

countries_df

       Country_Region  Confirmed  Deaths   Recovered
0                  US   33474734  599946         0.0
1               India   29570881  377031  28280472.0
2              Brazil   17452612  488228  15421397.0
3              France    5803012  110616    399560.0
4              Turkey    5336073   48795   5206836.0
..                ...        ...     ...         ...
188           Vanuatu          4       1         3.0
189  Marshall Islands          4       0         4.0
190             Samoa          3       0         3.0
191          Kiribati          2       0         0.0
192        Micronesia          1       0         1.0

[193 rows x 4 columns]